In [2]:
import pandas as pd
import os
import numpy as np

In [20]:
PATH = "./wandb_time.csv"
dataset = pd.read_csv(PATH)

In [14]:
ds = dataset[dataset["5_epoch_time2"]!=np.nan]
pd.pivot_table(ds, values='5_epoch_time', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

In [16]:
ds = dataset[dataset["5_epoch_time"]!=np.nan]
pd.pivot_table(ds, values='5_epoch_time2', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

Empty DataFrame
Columns: []
Index: []

In [21]:
dataset

,Name,5_epoch_time2,5_epoch_time,State,Notes,User,Tags,Created,Runtime,Sweep,...,eigenvalue ratio 3,eigenvalue ratio 4,eigenvalue ratio 5,eigenvalue trace 1,eigenvalue trace 2,eigenvalue trace 3,eigenvalue trace 4,eigenvalue trace 5,val_acc,val_loss
0,MNIST_BP,NaN,8.279929,finished,-,NaN,NaN,2024-05-03T20:24:03.000Z,28,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,MNIST_FWDTP-BN_linear-BN,NaN,270.825716,finished,-,NaN,NaN,2024-05-03T20:24:38.000Z,291,NaN,...,0.506641,0.520801,0.9125,8.961160,4.400226,5.865289,7.658412,7.557009,NaN,NaN
2,MNIST_DTP_linear_DTP,NaN,166.753843,finished,-,NaN,NaN,2024-05-03T20:29:38.000Z,188,NaN,...,1.000000,1.000000,1.0000,67.900940,92.954491,85.641129,66.884270,8.516632,NaN,NaN
3,MNIST_DTP_linear_DRL,NaN,202.609781,finished,-,NaN,NaN,2024-05-03T20:32:55.000Z,223,NaN,...,0.499219,0.508594,0.9000,0.029774,-0.058916,0.017401,0.105665,0.543120,NaN,NaN
4,MNIST_DTP_linear_L-DRL,NaN,193.809422,finished,-,NaN,NaN,2024-05-03T20:36:49.000Z,214,NaN,...,0.500195,0.509375,0.9000,0.051016,-0.033834,0.044895,0.134629,0.559695,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,CIFAR10_BP,NaN,8.671469,finished,-,NaN,NaN,2024-05-04T00:26:41.000Z,31,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
66,CIFAR10_FWDTP-BN_linear-BN,NaN,685.082677,finished,-,NaN,NaN,2024-05-04T00:27:21.000Z,706,NaN,...,0.907500,NaN,NaN,7.585245,2.679483,5.831171,NaN,NaN,NaN,NaN
67,CIFAR10_DTP_linear_DTP,NaN,597.432842,finished,-,NaN,NaN,2024-05-04T00:39:15.000Z,619,NaN,...,1.000000,NaN,NaN,112.023087,276.989471,9.295316,NaN,NaN,NaN,NaN
68,CIFAR10_DTP_linear_DRL,NaN,488.225866,finished,-,NaN,NaN,2024-05-04T00:49:43.000Z,512,NaN,...,0.800000,NaN,NaN,0.136030,-0.216872,0.176086,NaN,NaN,NaN,NaN
69,CIFAR10_DTP_linear_L-DRL,NaN,487.082687,finished,-,NaN,NaN,2024-05-04T00:58:22.000Z,510,NaN,...,0.800000,NaN,NaN,0.271180,-0.056782,0.111287,NaN,NaN,NaN,NaN

In [4]:
# MNIST

ds = dataset[dataset["dataset"] == "MNIST"]
del ds["Runtime"]
ds = ds[ds.epochs_backward == 5]
ds = ds[(ds.loss_feedback != "DRL") | ((ds.loss_feedback == "DRL") & (ds.learning_rate == 4) & (ds.learning_rate_backward == 0.0002) & (ds.stepsize == 0.04))]
ds = ds[(ds.loss_feedback != "L-DRL") | ((ds.loss_feedback == "L-DRL") & (ds.learning_rate == 4) & (ds.learning_rate_backward == 0.0002) & (ds.stepsize == 0.04))]
ds = ds[~ds.duplicated(subset=["Name", "loss_feedback", "seed", "learning_rate", "learning_rate_backward", "stepsize"])]
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

dataset                    MNIST
algorithm loss_feedback
BP        DTP            0.98065
DTP       DRL            0.93250
          DTP            0.97308
          L-DRL          0.93284
DTP-BN    DTP            0.97110
FWDTP     DTP            0.89836
FWDTP-BN  DTP            0.97204

In [5]:
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="std")

dataset                     MNIST
algorithm loss_feedback
BP        DTP            0.004036
DTP       DRL            0.000914
          DTP            0.000626
          L-DRL          0.004496
DTP-BN    DTP            0.001490
FWDTP     DTP            0.001146
FWDTP-BN  DTP            0.001424

In [11]:
# MNIST
ds = dataset[dataset["dataset"] == "FashionMNIST"]
del ds["Runtime"]
ds = ds[ds.epochs_backward == 5]
ds = ds[(ds.algorithm != "BP") | ((ds.algorithm == "BP") & (ds.learning_rate == 0.1))]
ds = ds[(ds.loss_feedback != "DRL") | ((ds.loss_feedback == "DRL") & (ds.learning_rate == 4) & (ds.learning_rate_backward == 0.002) & (ds.stepsize == 0.008))]
ds = ds[(ds.loss_feedback != "L-DRL") | ((ds.loss_feedback == "L-DRL") & (ds.learning_rate == 2) & (ds.learning_rate_backward == 0.001) & (ds.stepsize == 0.02))]
ds = ds[~ds.duplicated(subset=["Name", "loss_feedback", "seed", "learning_rate", "learning_rate_backward", "stepsize"])]
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

dataset                  FashionMNIST
algorithm loss_feedback
BP        DTP                 0.89238
DTP       DRL                 0.83342
          DTP                 0.88272
          L-DRL               0.83514
FWDTP-BN  DTP                 0.88278

In [12]:
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="std")

dataset                  FashionMNIST
algorithm loss_feedback
BP        DTP                0.007128
DTP       DRL                0.001785
          DTP                0.003154
          L-DRL              0.002004
FWDTP-BN  DTP                0.002333

In [9]:
ds = dataset[dataset["dataset"] == "CIFAR10"]
del ds["Runtime"]
ds["algorithm"].unique()
ds = ds[ds.epochs_backward == 5]
ds = ds[(ds.algorithm != "BP") | ((ds.algorithm == "BP") & (ds.learning_rate == 0.02))]
# pd.pivot_table(ds[ds.algorithm == "BP"], values='test accuracy', index=['learning_rate'], columns=['dataset'], aggfunc="mean")
ds = ds[(ds.loss_feedback != "DRL") | ((ds.loss_feedback == "DRL") & (ds.learning_rate == 2) & (ds.learning_rate_backward == 0.004) & (ds.stepsize == 0.008))]
ds = ds[(ds.loss_feedback != "L-DRL") | ((ds.loss_feedback == "L-DRL") & (ds.learning_rate == 0.2) & (ds.learning_rate_backward == 0.0004) & (ds.stepsize == 0.04))]
ds = ds[~ds.duplicated(subset=["Name", "loss_feedback", "seed", "learning_rate", "learning_rate_backward", "stepsize"])]
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

dataset                  CIFAR10
algorithm loss_feedback
BP        DTP            0.53896
DTP       DRL            0.45598
          DTP            0.48800
          L-DRL          0.45420
DTP-BN    DTP            0.45256
FWDTP     DTP            0.35800
FWDTP-BN  DTP            0.50774

In [76]:
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="std")

dataset                   CIFAR10
algorithm loss_feedback
BP        DTP            0.011425
DTP       DRL            0.004532
          DTP            0.006700
          L-DRL          0.004201
DTP-BN    DTP            0.005097
FWDTP     DTP            0.001032
FWDTP-BN  DTP            0.000918

In [82]:
ds = dataset[dataset["dataset"] == "CIFAR100"]
del ds["Runtime"]
ds["algorithm"].unique()
ds = ds[ds.epochs_backward == 5]
ds = ds[(ds.algorithm != "BP") | ((ds.algorithm == "BP") & (ds.learning_rate == 0.004))]
pd.pivot_table(ds[ds.algorithm == "BP"], values='test accuracy', index=['learning_rate'], columns=['dataset'], aggfunc="mean")
ds = ds[(ds.loss_feedback != "DRL") | ((ds.loss_feedback == "DRL") & (ds.learning_rate == 0.8) & (ds.learning_rate_backward == 0.002) & (ds.stepsize == 0.02))]
ds = ds[(ds.loss_feedback != "L-DRL") | ((ds.loss_feedback == "L-DRL") & (ds.learning_rate == 2) & (ds.learning_rate_backward == 0.0001) & (ds.stepsize == 0.008))]
ds = ds[~ds.duplicated(subset=["Name", "loss_feedback", "seed", "learning_rate", "learning_rate_backward", "stepsize"])]
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

dataset                  CIFAR100
algorithm loss_feedback
BP        DTP            0.237025
DTP       DRL            0.204780
          DTP            0.229960
          L-DRL          0.206260
DTP-BN    DTP            0.181200
FWDTP     DTP            0.153720
FWDTP-BN  DTP            0.230440

In [83]:
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="std")

dataset                  CIFAR100
algorithm loss_feedback
BP        DTP            0.002213
DTP       DRL            0.001807
          DTP            0.000856
          L-DRL          0.001638
DTP-BN    DTP            0.002082
FWDTP     DTP            0.001192
FWDTP-BN  DTP            0.001869

In [80]:
ds[(ds.algorithm=="BP") & (ds.learning_rate==0.004)]

,Name,dataset,algorithm,loss_feedback,test accuracy,State,learning_rate,learning_rate_backward,train accuracy,seed,activation_function,epochs_backward,stepsize
11,CIFAR100_BP,CIFAR100,BP,DTP,0.2361,finished,0.004,0.001,0.34102,5,tanh,5,0.01
41,CIFAR100_BP,CIFAR100,BP,DTP,0.2400,finished,0.004,0.001,0.34256,2,tanh,5,0.01
168,CIFAR100_BP,CIFAR100,BP,DTP,0.2372,finished,0.004,0.001,0.34252,3,tanh,5,0.01
393,CIFAR100_BP,CIFAR100,BP,DTP,0.2348,finished,0.004,0.001,0.33832,4,tanh,5,0.01

# CCL

In [23]:
# MNIST
PATH = "./wandb_classification_CCL_0502.csv"
dataset = pd.read_csv(PATH)
ds = dataset[dataset["dataset"] == "MNIST"]
# del ds["Runtime"]
ds = ds[ds.grad_clip_B == 1]
ds = ds[ds.grad_clip_F == 1]
ds = ds[ds.lr_B == 2]
ds = ds[ds.lr_F == 2]
ds = ds[ds.epochs == 100]
ds = ds[~ds.duplicated()]
ds = ds.dropna()
print(ds.test_acc.mean(), ds.test_acc.std())

0.9815400000000001 0.0011107554986484476

In [24]:
# MNIST
PATH = "./wandb_classification_CCL_0502.csv"
dataset = pd.read_csv(PATH)
ds = dataset[dataset["dataset"] == "FashionMNIST"]
# del ds["Runtime"]
ds = ds[ds.grad_clip_B == 1]
ds = ds[ds.grad_clip_F == 1]
ds = ds[ds.lr_B == 2]
ds = ds[ds.lr_F == 2]
ds = ds[ds.epochs == 100]
ds = ds[~ds.duplicated()]
ds = ds.dropna()
print(ds.test_acc.mean(), ds.test_acc.std())

0.879975 0.004778149671757301

In [40]:
# MNIST
PATH = "./wandb_classification_CCL_0502.csv"
dataset = pd.read_csv(PATH)
ds = dataset[dataset["dataset"] == "CIFAR10"]
# del ds["Runtime"]
ds = ds[ds.grad_clip_B == 1]
ds = ds[ds.grad_clip_F == 1]
ds = ds[ds.lr_B == 0.5]
ds = ds[ds.lr_F == 0.5]
ds = ds[ds.epochs == 100]
ds = ds[~ds.duplicated(subset=["dataset","act_B","grad_clip_B","seed","lr_B","lr_F"])]
ds = ds.dropna()
print(ds.test_acc.mean(), ds.test_acc.std())

0.5212999999999999 0.0021319005605327707

In [47]:
# MNIST
PATH = "./wandb_classification_CCL_0502.csv"
dataset = pd.read_csv(PATH)
ds = dataset[dataset["dataset"] == "CIFAR100"]
# del ds["Runtime"]
ds = ds[ds.grad_clip_B == 1]
ds = ds[ds.grad_clip_F == 1]
ds = ds[ds.lr_B == 4]
ds = ds[ds.lr_F == 4]
ds = ds[ds.epochs == 100]
ds = ds[~ds.duplicated(subset=["dataset","act_B","grad_clip_B","seed","lr_B","lr_F"])]
ds = ds.dropna()
print(ds.test_acc.mean(), ds.test_acc.std())

0.21653333333333333 0.0014571661996262998