In [2]:
import pandas as pd
import os
import numpy as np

In [3]:
PATH = "./wandb_time_with_cifar100.csv"
dataset = pd.read_csv(PATH)

In [17]:
ds = dataset[(dataset["method"]=="BP")|(dataset["method"]=="CCL")]
# ds = ds[ds.seed!=9]
# ds = ds[ds["5_epoch_time2"]<100]
# pd.pivot_table(ds, values='5_epoch_time2', index=['method'], columns=['dataset'], aggfunc="mean")
temp = pd.pivot_table(ds, values='5_epoch_time2', index=["seed"], columns=['dataset', 'method'])
for row_idx in range(10):
    if row_idx == 9:
        pass
    else:
        temp.iloc[row_idx,0:2]  = temp.iloc[row_idx,0:2] /temp.iloc[row_idx,0]
    temp.iloc[row_idx,2:4] = temp.iloc[row_idx,2:4]/temp.iloc[row_idx,2]
    temp.iloc[row_idx,4:6] = temp.iloc[row_idx,4:6]/temp.iloc[row_idx,2]

In [16]:
temp.mean(), temp.std()

(dataset   method
 CIFAR10   BP         7.072517
           CCL        7.399521
 CIFAR100  BP         6.297605
           CCL        6.623205
 MNIST     BP        43.652780
           CCL       50.057965
 dtype: float64,
 dataset   method
 CIFAR10   BP        17.175671
           CCL       17.732246
 CIFAR100  BP        15.892814
           CCL       16.650444
 MNIST     BP         7.594689
           CCL        9.972893
 dtype: float64)

In [18]:
temp

dataset    CIFAR10              CIFAR100                 MNIST
method          BP        CCL         BP        CCL         BP        CCL
seed
1         1.000000   0.831852   1.000000   1.015028  48.166885  55.706980
2         1.000000   1.030165   1.000000   1.060690  40.054269  47.244158
3         1.000000   1.027427   1.000000   0.868518  43.392862  52.110859
4         1.000000   1.039798   1.000000   1.561933  45.576017  50.594979
5         1.000000   2.162476   1.000000   0.974677  48.610851  53.766673
6         1.000000   1.034256   1.000000   1.032812  32.113290  34.822629
7         1.000000   0.798587   1.000000   1.037646  54.036436  63.336090
9              NaN        NaN   1.000000   1.036135  48.781445  58.786448
10       49.580132  51.271603  48.678442  51.021404  32.142967  34.152869

In [90]:
ds = dataset[(dataset["method"]!="BP")&(dataset["method"]!="CCL")]
pd.pivot_table(ds, values='5_epoch_time', index=["seed", ], columns=['dataset', 'algorithm', 'loss_feedback'], aggfunc="mean")

dataset          CIFAR10                                              \
algorithm             BP        DTP                         FWDTP-BN
loss_feedback        DTP        DRL        DTP      L-DRL        DTP
seed
1               8.010286  36.026118  23.656474  37.264189  15.809429
2              10.535539  79.672741  43.473448  78.384863  33.991408
3               9.519716  48.762194  31.411722  53.920130  23.383767
4               9.378660  72.448066  44.000890  77.552564  28.522274
5               7.816078  48.062758  25.851298  49.573142  16.025285
6               7.008635  31.550428  19.990742  29.196582  13.562877
7               9.382449  48.993652  30.579185  55.041879  23.960434
8              12.152581  74.782680  42.171245  83.014364  34.500671
9              12.239961  53.312346  38.962383  58.755415  23.503706
10              9.127322  47.992470  33.170686  49.757377  19.713130

dataset            MNIST
algorithm             BP         DTP                          FWDTP-BN
loss_feedback        DTP         DRL        DTP       L-DRL        DTP
seed
1              10.094726  110.502529  60.291118   93.761953  32.929173
2              10.517758  191.093542  85.898350  154.519144  53.119120
3               9.581051  129.828054  58.493592  104.510275  39.801302
4              10.416366  173.365168  84.102691  145.090820  47.560150
5               8.364844   89.068840  48.409496   69.974712  28.200077
6               8.424360   64.860937  35.668064   60.645940  21.476306
7               8.789215  130.151399  57.998912  104.102498  39.651069
8              10.630455  190.185293  83.657568  150.615441  53.312191
9              10.079003  133.709403  59.740952  105.992021  38.094601
10              9.185471  110.593062  60.719332   93.353966  32.755586

In [109]:
temp = pd.pivot_table(ds, values='5_epoch_time', index=["seed"], columns=['dataset', 'algorithm', 'loss_feedback'], aggfunc="mean")
for row_idx in range(10):
    temp.iloc[row_idx,0:5]  = temp.iloc[row_idx,0:5] /temp.iloc[row_idx,0]
    temp.iloc[row_idx,5:10] = temp.iloc[row_idx,5:10]/temp.iloc[row_idx,5]

In [113]:
temp

dataset       CIFAR10                                         MNIST  \
algorithm          BP       DTP                      FWDTP-BN    BP
loss_feedback     DTP       DRL       DTP     L-DRL       DTP   DTP
seed
1                 1.0  4.497482  2.953262  4.652042  1.973641   1.0
2                 1.0  7.562284  4.126362  7.440043  3.226357   1.0
3                 1.0  5.122232  3.299649  5.664048  2.456351   1.0
4                 1.0  7.724778  4.691597  8.269046  3.041189   1.0
5                 1.0  6.149217  3.307451  6.342457  2.050297   1.0
6                 1.0  4.501651  2.852302  4.165801  1.935167   1.0
7                 1.0  5.221841  3.259190  5.866473  2.553751   1.0
8                 1.0  6.153646  3.470147  6.831007  2.838958   1.0
9                 1.0  4.355598  3.183211  4.800294  1.920244   1.0
10                1.0  5.258111  3.634219  5.451476  2.159794   1.0

dataset
algorithm            DTP                       FWDTP-BN
loss_feedback        DRL       DTP      L-DRL       DTP
seed
1              10.946560  5.972536   9.288212  3.262017
2              18.168657  8.166983  14.691262  5.050422
3              13.550502  6.105133  10.908017  4.154169
4              16.643536  8.074091  13.929120  4.565906
5              10.647998  5.787256   8.365334  3.371262
6               7.699213  4.233920   7.198878  2.549310
7              14.808081  6.598873  11.844346  4.511332
8              17.890607  7.869613  14.168297  5.015043
9              13.266133  5.927268  10.516121  3.779600
10             12.040000  6.610367  10.163221  3.566022

In [112]:
temp.mean(), temp.std()

(dataset  algorithm  loss_feedback
 CIFAR10  BP         DTP               1.000000
          DTP        DRL               5.654684
                     DTP               3.477739
                     L-DRL             5.948269
          FWDTP-BN   DTP               2.415575
 MNIST    BP         DTP               1.000000
          DTP        DRL              13.566129
                     DTP               6.534604
                     L-DRL            11.107281
          FWDTP-BN   DTP               3.982508
 dtype: float64,
 dataset  algorithm  loss_feedback
 CIFAR10  BP         DTP              0.000000
          DTP        DRL              1.220296
                     DTP              0.555796
                     L-DRL            1.293381
          FWDTP-BN   DTP              0.485234
 MNIST    BP         DTP              0.000000
          DTP        DRL              3.384850
                     DTP              1.226907
                     L-DRL            2.540868
          FWDTP-BN   DTP              0.817684
 dtype: float64)

In [102]:
temp.iloc[0,6:10]

dataset  algorithm  loss_feedback
MNIST    DTP        DRL              110.502529
                    DTP               60.291118
                    L-DRL             93.761953
         FWDTP-BN   DTP               32.929173
Name: 1, dtype: float64

In [4]:
# MNIST

ds = dataset[dataset["dataset"] == "MNIST"]
del ds["Runtime"]
ds = ds[ds.epochs_backward == 5]
ds = ds[(ds.loss_feedback != "DRL") | ((ds.loss_feedback == "DRL") & (ds.learning_rate == 4) & (ds.learning_rate_backward == 0.0002) & (ds.stepsize == 0.04))]
ds = ds[(ds.loss_feedback != "L-DRL") | ((ds.loss_feedback == "L-DRL") & (ds.learning_rate == 4) & (ds.learning_rate_backward == 0.0002) & (ds.stepsize == 0.04))]
ds = ds[~ds.duplicated(subset=["Name", "loss_feedback", "seed", "learning_rate", "learning_rate_backward", "stepsize"])]
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

dataset                    MNIST
algorithm loss_feedback
BP        DTP            0.98065
DTP       DRL            0.93250
          DTP            0.97308
          L-DRL          0.93284
DTP-BN    DTP            0.97110
FWDTP     DTP            0.89836
FWDTP-BN  DTP            0.97204

In [5]:
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="std")

dataset                     MNIST
algorithm loss_feedback
BP        DTP            0.004036
DTP       DRL            0.000914
          DTP            0.000626
          L-DRL          0.004496
DTP-BN    DTP            0.001490
FWDTP     DTP            0.001146
FWDTP-BN  DTP            0.001424

In [11]:
# MNIST
ds = dataset[dataset["dataset"] == "FashionMNIST"]
del ds["Runtime"]
ds = ds[ds.epochs_backward == 5]
ds = ds[(ds.algorithm != "BP") | ((ds.algorithm == "BP") & (ds.learning_rate == 0.1))]
ds = ds[(ds.loss_feedback != "DRL") | ((ds.loss_feedback == "DRL") & (ds.learning_rate == 4) & (ds.learning_rate_backward == 0.002) & (ds.stepsize == 0.008))]
ds = ds[(ds.loss_feedback != "L-DRL") | ((ds.loss_feedback == "L-DRL") & (ds.learning_rate == 2) & (ds.learning_rate_backward == 0.001) & (ds.stepsize == 0.02))]
ds = ds[~ds.duplicated(subset=["Name", "loss_feedback", "seed", "learning_rate", "learning_rate_backward", "stepsize"])]
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

dataset                  FashionMNIST
algorithm loss_feedback
BP        DTP                 0.89238
DTP       DRL                 0.83342
          DTP                 0.88272
          L-DRL               0.83514
FWDTP-BN  DTP                 0.88278

In [12]:
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="std")

dataset                  FashionMNIST
algorithm loss_feedback
BP        DTP                0.007128
DTP       DRL                0.001785
          DTP                0.003154
          L-DRL              0.002004
FWDTP-BN  DTP                0.002333

In [9]:
ds = dataset[dataset["dataset"] == "CIFAR10"]
del ds["Runtime"]
ds["algorithm"].unique()
ds = ds[ds.epochs_backward == 5]
ds = ds[(ds.algorithm != "BP") | ((ds.algorithm == "BP") & (ds.learning_rate == 0.02))]
# pd.pivot_table(ds[ds.algorithm == "BP"], values='test accuracy', index=['learning_rate'], columns=['dataset'], aggfunc="mean")
ds = ds[(ds.loss_feedback != "DRL") | ((ds.loss_feedback == "DRL") & (ds.learning_rate == 2) & (ds.learning_rate_backward == 0.004) & (ds.stepsize == 0.008))]
ds = ds[(ds.loss_feedback != "L-DRL") | ((ds.loss_feedback == "L-DRL") & (ds.learning_rate == 0.2) & (ds.learning_rate_backward == 0.0004) & (ds.stepsize == 0.04))]
ds = ds[~ds.duplicated(subset=["Name", "loss_feedback", "seed", "learning_rate", "learning_rate_backward", "stepsize"])]
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

dataset                  CIFAR10
algorithm loss_feedback
BP        DTP            0.53896
DTP       DRL            0.45598
          DTP            0.48800
          L-DRL          0.45420
DTP-BN    DTP            0.45256
FWDTP     DTP            0.35800
FWDTP-BN  DTP            0.50774

In [76]:
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="std")

dataset                   CIFAR10
algorithm loss_feedback
BP        DTP            0.011425
DTP       DRL            0.004532
          DTP            0.006700
          L-DRL          0.004201
DTP-BN    DTP            0.005097
FWDTP     DTP            0.001032
FWDTP-BN  DTP            0.000918

In [82]:
ds = dataset[dataset["dataset"] == "CIFAR100"]
del ds["Runtime"]
ds["algorithm"].unique()
ds = ds[ds.epochs_backward == 5]
ds = ds[(ds.algorithm != "BP") | ((ds.algorithm == "BP") & (ds.learning_rate == 0.004))]
pd.pivot_table(ds[ds.algorithm == "BP"], values='test accuracy', index=['learning_rate'], columns=['dataset'], aggfunc="mean")
ds = ds[(ds.loss_feedback != "DRL") | ((ds.loss_feedback == "DRL") & (ds.learning_rate == 0.8) & (ds.learning_rate_backward == 0.002) & (ds.stepsize == 0.02))]
ds = ds[(ds.loss_feedback != "L-DRL") | ((ds.loss_feedback == "L-DRL") & (ds.learning_rate == 2) & (ds.learning_rate_backward == 0.0001) & (ds.stepsize == 0.008))]
ds = ds[~ds.duplicated(subset=["Name", "loss_feedback", "seed", "learning_rate", "learning_rate_backward", "stepsize"])]
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="mean")

dataset                  CIFAR100
algorithm loss_feedback
BP        DTP            0.237025
DTP       DRL            0.204780
          DTP            0.229960
          L-DRL          0.206260
DTP-BN    DTP            0.181200
FWDTP     DTP            0.153720
FWDTP-BN  DTP            0.230440

In [83]:
pd.pivot_table(ds, values='test accuracy', index=['algorithm', 'loss_feedback'], columns=['dataset'], aggfunc="std")

dataset                  CIFAR100
algorithm loss_feedback
BP        DTP            0.002213
DTP       DRL            0.001807
          DTP            0.000856
          L-DRL          0.001638
DTP-BN    DTP            0.002082
FWDTP     DTP            0.001192
FWDTP-BN  DTP            0.001869

In [80]:
ds[(ds.algorithm=="BP") & (ds.learning_rate==0.004)]

,Name,dataset,algorithm,loss_feedback,test accuracy,State,learning_rate,learning_rate_backward,train accuracy,seed,activation_function,epochs_backward,stepsize
11,CIFAR100_BP,CIFAR100,BP,DTP,0.2361,finished,0.004,0.001,0.34102,5,tanh,5,0.01
41,CIFAR100_BP,CIFAR100,BP,DTP,0.2400,finished,0.004,0.001,0.34256,2,tanh,5,0.01
168,CIFAR100_BP,CIFAR100,BP,DTP,0.2372,finished,0.004,0.001,0.34252,3,tanh,5,0.01
393,CIFAR100_BP,CIFAR100,BP,DTP,0.2348,finished,0.004,0.001,0.33832,4,tanh,5,0.01

# CCL

In [23]:
# MNIST
PATH = "./wandb_classification_CCL_0502.csv"
dataset = pd.read_csv(PATH)
ds = dataset[dataset["dataset"] == "MNIST"]
# del ds["Runtime"]
ds = ds[ds.grad_clip_B == 1]
ds = ds[ds.grad_clip_F == 1]
ds = ds[ds.lr_B == 2]
ds = ds[ds.lr_F == 2]
ds = ds[ds.epochs == 100]
ds = ds[~ds.duplicated()]
ds = ds.dropna()
print(ds.test_acc.mean(), ds.test_acc.std())

0.9815400000000001 0.0011107554986484476

In [24]:
# MNIST
PATH = "./wandb_classification_CCL_0502.csv"
dataset = pd.read_csv(PATH)
ds = dataset[dataset["dataset"] == "FashionMNIST"]
# del ds["Runtime"]
ds = ds[ds.grad_clip_B == 1]
ds = ds[ds.grad_clip_F == 1]
ds = ds[ds.lr_B == 2]
ds = ds[ds.lr_F == 2]
ds = ds[ds.epochs == 100]
ds = ds[~ds.duplicated()]
ds = ds.dropna()
print(ds.test_acc.mean(), ds.test_acc.std())

0.879975 0.004778149671757301

In [40]:
# MNIST
PATH = "./wandb_classification_CCL_0502.csv"
dataset = pd.read_csv(PATH)
ds = dataset[dataset["dataset"] == "CIFAR10"]
# del ds["Runtime"]
ds = ds[ds.grad_clip_B == 1]
ds = ds[ds.grad_clip_F == 1]
ds = ds[ds.lr_B == 0.5]
ds = ds[ds.lr_F == 0.5]
ds = ds[ds.epochs == 100]
ds = ds[~ds.duplicated(subset=["dataset","act_B","grad_clip_B","seed","lr_B","lr_F"])]
ds = ds.dropna()
print(ds.test_acc.mean(), ds.test_acc.std())

0.5212999999999999 0.0021319005605327707

In [47]:
# MNIST
PATH = "./wandb_classification_CCL_0502.csv"
dataset = pd.read_csv(PATH)
ds = dataset[dataset["dataset"] == "CIFAR100"]
# del ds["Runtime"]
ds = ds[ds.grad_clip_B == 1]
ds = ds[ds.grad_clip_F == 1]
ds = ds[ds.lr_B == 4]
ds = ds[ds.lr_F == 4]
ds = ds[ds.epochs == 100]
ds = ds[~ds.duplicated(subset=["dataset","act_B","grad_clip_B","seed","lr_B","lr_F"])]
ds = ds.dropna()
print(ds.test_acc.mean(), ds.test_acc.std())

0.21653333333333333 0.0014571661996262998